@model FSMotorsShowroom.Models.Transaction

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="text-uppercase">Manage Transaction</h3>

    </div>
    <div class="card-body">
        <form asp-action="Create">

            <div class="row">
                <div class="col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="TransactionName" class="control-label"></label>
                        <input asp-for="TransactionName" class="form-control" />
                        <span asp-validation-for="TransactionName" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CarName">Car Name</label>
                        <select asp-for="CarName" asp-items="ViewBag.carInfo" class="form-control"></select>
                    </div>
                  
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="From" class="control-label"></label>
                        <input asp-for="From" class="form-control" />
                        <span asp-validation-for="From" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="To" class="control-label"></label>
                        <input asp-for="To" class="form-control" />
                        <span asp-validation-for="To" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    
                        <div class="form-group">
                            <label asp-for="TransactionType">Transaction Type</label>
                            <select asp-for="TransactionType" asp-items="ViewBag.TransactionTypeList" class="form-control"></select>
                        </div>
                    </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
              <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
  
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

