@{
    Layout = "~/Views/Shared/_loginLAyout.cshtml";
}
<div class="nav justify-content-center">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card login-logout-card">
            @*            <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">

            <li class="nav-item">
            <a class="nav-link" href="/identity/account/login">Log In</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/identity/account/register">Register</a>
            </li>
            </ul>
            </div> *@
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-12 my-2">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@await RenderSectionAsync("Scripts", required: false)
