@model FSMotorsShowroom.Models.Investment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>Edit</h1>

<h4>Investment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InvestmentId" />
            <div class="form-group">
                <label asp-for="CarName" class="control-label"></label>
                <input asp-for="CarName" class="form-control" />
                <span asp-validation-for="CarName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyingPrice" class="control-label"></label>
                <input asp-for="BuyingPrice" class="form-control" />
                <span asp-validation-for="BuyingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellingPrice" class="control-label"></label>
                <input asp-for="SellingPrice" class="form-control" />
                <span asp-validation-for="SellingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaintananceCost" class="control-label"></label>
                <input asp-for="MaintananceCost" class="form-control" />
                <span asp-validation-for="MaintananceCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShowroomCost" class="control-label"></label>
                <input asp-for="ShowroomCost" class="form-control" />
                <span asp-validation-for="ShowroomCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesTax" class="control-label"></label>
                <input asp-for="SalesTax" class="form-control" />
                <span asp-validation-for="SalesTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoldDate" class="control-label"></label>
                <input asp-for="SoldDate" class="form-control" />
                <span asp-validation-for="SoldDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarStatus" class="control-label"></label>
                <input asp-for="CarStatus" class="form-control" />
                <span asp-validation-for="CarStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarId" class="control-label"></label>
                <select asp-for="CarId" class="form-control" asp-items="ViewBag.CarId"></select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvestorId" class="control-label"></label>
                <select asp-for="InvestorId" class="form-control" asp-items="ViewBag.InvestorId"></select>
                <span asp-validation-for="InvestorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

