
<div class="clearfix"></div>
<section id="secondary-banner" class="dynamic-image-4"><!--for other images just change the class name of this section block like, class="dynamic-image-2" and add css for the changed class-->
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>Blog</h2>
                <h4>Latest Industry News</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>Blog</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--secondary-banner ends-->
<div class="message-shadow"></div>
<div class="clearfix"></div>
<section class="content">
    <div class="container">
        <div class="inner-page blog-post row">
            <div class="col-lg-9 col-md-12 col-xs-12">
                <div class="blog-content">
                    <div class="blog-title">
                        <h2>Sea ferri laudem noluisse at pri offendit epicurei</h2>
                        <strong class="margin-top-5 margin-bottom-25">Ad volutpat instructior qui</strong></div>
                    <ul class="margin-top-10">
                        <li class="fa fa-calendar"><a href="#">July 8, 2019</a></li>
                        <li class="fa fa-folder-open"><a href="#">Automakers, Manufacturing, Production</a></li>
                        <li class="fa fa-user"><a href="#">Posted by David</a></li>
                        <li class="fa fa-comments"><a href="#">3 Comments</a></li>
                    </ul>
                    <div class="post-entry clearfix"> <img src="/images/img-1.jpg" alt="" class="alignleft featured_image" />
                        <p>Lorem ipsum dolor sit amet, id melius accusam mea, nec cu scaevola deserunt honestatis. Mei odio menandri ei, id nibh causae inermis pri.</p>
                        <p>Oblique copiosae dissentiunt ea vim, ius ea euripidis vulputate. Has eu elit dissentiet. Vel et ceteros apeirian tacimates, per ad wisi facete corpora.</p>
                        <p>Eos ad errem virtute convenire, ex sea hinc nibh officiis. In dolore graece duo. Ignota convenire theophrastus vis cu, et alii propriae nominati mel.</p>
                        <p>Ne pro modus civibus contentiones. Minim deleniti appellantur ut nam. Ea vis gloriatur efficiantur intellegebat, id augue noster has.
                            Possit maluisset pro eu, ei duo verear fabellas molestiae. Ius facilisi iudicabit ad, ea vis ignota mediocrem gloriatur. Sea ea semper
                            eripuit inermis, nec ut elit adipisci, per ad decore gubergren. Ut quo wisi modus ornatus.</p>
                        <p>Mel feugiat maiestatis an. Sea ferri laudem noluisse at, pri offendit epicurei principes et, ad volutpat instructior qui.
                            Natum dicat maluisset vim et, mutat definitionem sit ad. Dicunt expetendis duo id, vim in pertinax consetetur. Doctus
                            recteque quaerendum sit at, duo utamur constituto ne, et eum perpetua signiferumque.</p>
                        <p>Veniam accusam iracundia quo ex. In ius atqui laudem platonem, in cum reque inani. Ut mea copiosae elaboraret, solum vivendum eu his. Sit te habeo legere saperet, quot munere disputationi quo at.</p>
                        <blockquote>Eu duo eripuit praesent, soluta epicuri propriae sea id. Atqui facer invenire duo ut, id mea ludus consequat eloquentiam, ea vim adhuc regione nostrum.</blockquote>
                        <h5>Alii quaerendum</h5>
                        <p>Cum sonet eligendi insolens ea, autem paulo noluisse et nam, at facilisi phaedrum mei. Et gloriatur appellantur repudiandae per.
                            Mea ea ludus graeci voluptatum. Cum audiam senserit persecuti an, ut porro atqui denique has. Vis ei magna complectitur, ius ad zril habemus prodesset </p>
                        <p>Nominavi rationibus conclusionemque duo no, per ex erant sonet splendide. Eu tale atqui option per. Vitae scripta honestatis qui ne, ut nec inani exerci intellegam.
                            Sea munere ceteros ut, ea suas zril posidonium ius. Eum at mundi labitur, quis tibique et vel, pri no melius latine bonorum.</p>
                        <p>Ea qui doctus recusabo. Vim dicam mediocrem cotidieque te. Ius ut nobis vitae, ei eius verterem tincidunt cum, sea ne nobis appareat conclusionemque.
                            Alia natum liber his in, mei exerci ubique accusam cu.</p>
                        <p>Libris iuvaret ad vis. Numquam accusata posidonium ne nam, prima verear an vix, an nisl saepe aliquam mea. Et delectus vituperata usu.
                            Porro simul utamur eu duo, cu mea pertinax intellegebat.</p>
                        <blockquote>Sit at justo albucius expetenda, modo choro eu quo. Nec at reque insolens. Mel eu vulputate ullamcorper.</blockquote>
                        <p>At usu omnis viderer accusam. Ea ius vidit efficiendi. Commodo fuisset invidunt te mea, velit consulatu an mel. Accusata dissentiunt ne has, mundi bonorum an duo.
                            In enim illum mei, mel mundi mollis vivendo ex, ex eius concludaturque vel.</p>
                        <h5>Ex iusto tamquam</h5>
                        <p>Et gloriatur appellantur repudiandae per. Mea ea ludus graeci voluptatum. Cum audiam senserit persecuti an, ut porro atqui denique has.
                            Vis ei magna complectitur, ius ad zril habemus prodesset. </p>
                        <p>Minim deleniti appellantur ut nam. Ea vis gloriatur efficiantur intellegebat, id augue noster has.</p>
                        <p>Oblique copiosae dissentiunt ea vim, ius ea euripidis vulputate. Has eu elit dissentiet. Vel et ceteros apeirian tacimates, per ad wisi facete corpora.
                            Eos ad errem virtute convenire, ex sea hinc nibh officiis..</p>
                        <p>Minim deleniti appellantur ut nam. Ea vis gloriatur efficiantur intellegebat, id augue noster has.</p>
                        <p>Ne pro modus civibus contentiones.</p>
                        <div class="blog-end row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 read-more">
                                <ul class="social-likes" data-url="http://themesuite.com" data-title="Blog Post">
                                    <li class="facebook" title="Share link on Facebook"></li>
                                    <li class="pinterest" title="Share image on Pinterest" data-media=""></li>
                                    <li class="twitter" title="Share link on Twitter"></li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right"><span class="fa fa-tags tags"><a href="#">Cars, Leather Seats, Interiors</a></span></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="comments margin-top-30 margin-bottom-40">
                            <h3 class="padding-top-40 padding-bottom-30">3 COMMENTS</h3>
                            <ol class="comment-list">
                                <li>
                                    <div class="comment-profile row clearfix margin-top-30">
                                        <div class="col-lg-1 col-md-1 col-sm-1col-xs-1 threadauthor"> <img src="/images/profile-img.jpg" alt=""> </div>
                                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                            <div class="comment-data">
                                                <div class="comment-author clearfix"><strong>Jeff Gordon</strong>| <small>July 11, 2019 at 10:32am</small><a href="#" class="pull-right">Reply</a></div>
                                                <div class="comment-text">
                                                    <p>Lorem ipsum dolor sit amet, adhuc eligendi ut pri, ex case mazim vivendo eam, an has solum autem. Te nam eripuit for
                                                        ensibus. Eam id solet mandamus, ei verterem corrumpit mel. Eam euismod voluptatibus vituperatoribus eu, erant pond
                                                        erum forensibus an his.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="comment-profile row clearfix margin-top-30">
                                        <div class="col-lg-1 col-md-1 col-sm-1col-xs-1 threadauthor"> <img src="/images/profile-img.jpg" alt=""> </div>
                                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                            <div class="comment-data">
                                                <div class="comment-author clearfix"><strong>Jamie McMurray </strong>| <small>July 12, 2019 at 3:54pm </small><a href="#" class="pull-right">Reply</a></div>
                                                <div class="comment-text">
                                                    <p>Lorem ipsum dolor sit amet, adhuc eligendi ut pri, ex case mazim vivendo eam, an has solum autem. Te nam eripuit for
                                                        ensibus. Eam id solet mandamus, ei verterem corrumpit mel. Eam euismod voluptatibus vituperatoribus eu, erant pond
                                                        erum forensibus an his.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ol>
                                        <li>
                                            <div class="comment-profile row clearfix margin-top-30">
                                                <div class="col-lg-1 col-md-1 col-sm-1col-xs-1 threadauthor"> <img src="/images/profile-img.jpg" alt=""> </div>
                                                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                                    <div class="comment-data">
                                                        <div class="comment-author clearfix"><strong>Jamie McMurray </strong>| <small>July 12, 2019 at 3:54pm </small><a href="#" class="pull-right">Reply</a></div>
                                                        <div class="comment-text">
                                                            <p>Lorem ipsum dolor sit amet, adhuc eligendi ut pri, ex case mazim vivendo eam, an has solum autem. Te nam eripuit for
                                                                ensibus. Eam id solet mandamus, ei verterem corrumpit mel. Eam euismod voluptatibus vituperatoribus eu, erant pond
                                                                erum forensibus an his.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
                        <div class="leave-comments clearfix xs-margin-bottom-40">
                            <h3 class="margin-bottom-20">LEAVE COMMENTS</h3>
                            <form>
                                <input type="text" class="form-control" placeholder="Name  (Required)" />
                                <input type="text" class="form-control" placeholder="Email  (Required)" />
                                <input type="text" class="form-control" placeholder="Website" />
                                <textarea class="form-control margin-bottom-none" placeholder="Your comments" rows="7"></textarea>
                                <input type="submit" value="Submit Comment" class="pull-left margin-top-10">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-lg-3 col-md-12 col-xs-12 order-lg-first xs-padding-top-20">
                <div class="side-widget padding-bottom-30">
                    <h3 class="recent_posts margin-bottom-25">RECENT POSTS</h3>
                    <div class="side-content">
                        <div class="list padding-bottom-50 col-xs-12">
                            <div class="side-blog"><img src="/images/blog-thumb-1.jpg" class="alignleft" alt=""> <strong>Most recent post</strong>
                                <p>Lorem ipsum dolor sit amet, id melius accusam mea ...</p>
                            </div>
                            <div class="side-blog"><img src="/images/blog-thumb-2.jpg" class="alignleft" alt=""> <strong>Second most recent post</strong>
                                <p>Oblique copiosae dissentiunt ea vim, ius ea ...</p>
                            </div>
                            <div class="side-blog"><img src="/images/blog-thumb-3.jpg" class="alignleft" alt=""> <strong>Third most recent post</strong>
                                <p>Eos ad errem virtute convenire, ex sea hinc ...</p>
                            </div>
                            <div class="side-blog"><img src="/images/blog-thumb-4.jpg" class="alignleft" alt=""> <strong>Fourth most recent post</strong>
                                <p>Ea vis gloriatur efficiantur intellegebat, id ...</p>
                            </div>
                            <div class="side-blog"><img src="/images/blog-thumb-5.jpg" class="alignleft" alt=""> <strong>Fifth most recent post</strong>
                                <p>Sea ea semper eripuit inermis, nec ut elit ...</p>
                            </div>
                        </div>
                        <form class="search-box padding-bottom-50 md-padding-left-none col-xs-12 xs-padding-left-none" role="search">
                            <h3 class="margin-bottom-25">SEARCH</h3>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                            </div>
                            <input type="submit" value="Search" class="margin-top-10 margin-bottom-none md-button">
                        </form>
                        <div class="list padding-bottom-50 col-xs-12">
                            <h3 class="margin-bottom-25">Archives</h3>
                            <ul>
                                <li><span><a href="#">July 2019</a></span></li>
                                <li><span><a href="#">June 2019</a></span></li>
                                <li><span><a href="#">May 2019</a></span></li>
                                <li><span><a href="#">April 2019</a></span></li>
                                <li><span><a href="#">March 2019</a></span></li>
                                <li><span><a href="#">February 2019</a></span></li>
                                <li><span><a href="#">Janaury 2019</a></span></li>
                                <li><span><a href="#">December 2018</a></span></li>
                                <li><span><a href="#">November 2018</a></span></li>
                                <li><span><a href="#">October 2018</a></span></li>
                                <li><a href="#">View More...</a></li>
                            </ul>
                        </div>
                        <div class="list padding-bottom-50 col-xs-12">
                            <h3 class="margin-bottom-25">Categories</h3>
                            <ul>
                                <li><span><a href="#">Automakers</a></span></li>
                                <li><span><a href="#">Dealer News</a></span></li>
                                <li><span><a href="#">Development</a></span></li>
                                <li><span><a href="#">Manufacturing</a></span></li>
                                <li><span><a href="#">New Models</a></span></li>
                                <li><span><a href="#">Production</a></span></li>
                                <li><span><a href="#">Products</a></span></li>
                                <li><span><a href="#">Shows</a></span></li>
                                <li><span><a href="#">Suppliers</a></span></li>
                                <li><span><a href="#">Technology</a></span></li>
                                <li><a href="#">View More...</a></li>
                            </ul>
                        </div>
                        <div class="list padding-bottom-50 col-xs-12">
                            <h3 class="margin-bottom-25">Meta</h3>
                            <ul>
                                <li><span><a href="#">Log in</a></span></li>
                                <li><span><a href="#">Entries RSS</a></span></li>
                                <li><span><a href="#">Comments RSS</a></span></li>
                                <li><span><a href="#">WordPress.org</a></span></li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="list padding-bottom-50 col-xs-12">
                            <h3 class="margin-bottom-25">WHY CHOOSE US?</h3>
                            <div class="choose-list">
                                <ul>
                                    <li>Fully responsive and ready for mobile</li>
                                    <li>Integrated inventory management</li>
                                    <li>Simple to use and easy to customize</li>
                                    <li>Search engine optimized (SEO ready)</li>
                                    <li>Includes Revolution Slider ($15 value)</li>
                                    <li>Tons of shortcodes for easy add-ons</li>
                                    <li>Fully featured Option Panel for setup</li>
                                    <li>Backed by dedicated support staff</li>
                                </ul>
                            </div>
                        </div>
                        <div class="list padding-bottom-50 col-xs-12">
                            <h3 class="margin-bottom-25">TESTIMONIALS</h3>
                            <div class="testimonial">
                                <ul class="testimonial_slider">
                                    <li>
                                        <blockquote class="style1"><span>Happiness does not come from
                                            doing easy work but from the
                                            afterglow of satisfaction that
                                            comes after the achievement of
                                            a difficult task that demanded
                                            our best.</span> <strong>Theodore Isaac Rubin</strong> </blockquote>
                                    </li>
                                    <li>
                                        <blockquote class="style1"><span>Happiness does not come from
                                            doing easy work but from the
                                            afterglow of satisfaction that
                                            comes after the achievement of
                                            a difficult task that demanded
                                            our best.</span> <strong>Theodore Isaac Rubin</strong> </blockquote>
                                    </li>
                                    <li>
                                        <blockquote class="style1"><span>Happiness does not come from
                                            doing easy work but from the
                                            afterglow of satisfaction that
                                            comes after the achievement of
                                            a difficult task that demanded
                                            our best.</span> <strong>Theodore Isaac Rubin</strong> </blockquote>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--container ends-->
</section>
<!--content ends-->
<div class="clearfix"></div>

