
<div class="clearfix"></div>
<section id="secondary-banner" class="dynamic-image-4">
    <!--for other images just change the class name of this section block like, class="dynamic-image-2" and add css for the changed class-->
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>Blog</h2>
                <h4>Latest Industry News</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>Blog</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--secondary-banner ends-->
<div class="message-shadow"></div>
<div class="clearfix"></div>
<section class="content">
    <div class="container">
        <div class="inner-page blog-container row">
            <div class="col-lg-9 col-md-7 col-sm-7 col-xs-12">
                <div class="blog-content margin-bottom-40" id="firstIndex">
                </div>

                <div class="blog-content margin-bottom-40 padding-top-30 scroll_effect fadeInLeft" id="secondtIndex">
                </div>
                <div class="blog-content margin-bottom-40 padding-top-30 scroll_effect fadeInLeft" id="thirdIndex">
                </div>
                <div class="blog-content margin-bottom-40 padding-top-30 scroll_effect fadeInLeft" id="forthIndex">
                 
                </div>
                <div class="blog-content margin-bottom-40 padding-top-30 scroll_effect fadeInLeft" id="fifthIndex">
  
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="pagiation-page">
                    <ul class="pagination margin-none">
                        <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-5 col-xs-12 xs-padding-top-20">
                <div class="side-widget padding-bottom-30">
                    <div class="side-content">
                        <div class="list col-xs-12 padding-bottom-50 xs-padding-top-40">
                            <h3 class="recent_posts margin-bottom-25">RECENT POSTS</h3>


                        </div>

                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <!--container ends-->
</section>
<!--content ends-->
<div class="clearfix"></div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/News/GetAllNewsList', // Replace with your actual controller route
            type: 'GET',
            success: function (newsList) {
                // Assuming 'cars' is an array of car objects
                newsList.forEach(function (news) {
                    var carBlock = `
              <div class="side-blog">
                <img src="/Uploads/${news.newsImage}" class="alignleft" alt="">
                <a href="#"><strong>${news.newsTitle}</strong></a>
                <p>${truncateDescription(news.description)}</p>
              </div>`;

                    function truncateDescription(description) {
                        if (description.length > 50) {
                            return description.substring(0, 50) + "...";
                        } else {
                            return description;
                        }
                    }

                    $('.recent_posts').append(carBlock);
                });
                var firstIndex = `
                                                        <div class="blog-title">
                                                <h2><a href="#">${newsList[0].newsTitle}</a></h2>


                                                <div class="post-entry clearfix"> <a href="/Uploads/${newsList[0].newsImage}" class="fancybox"><img src="/Uploads/${newsList[0].newsImage}" alt="" class="alignleft" /></a>
                                                    <p>${newsList[0].description}</p>

                                            <div class="clearfix"></div>
                                        </div>
                                    </div>`;
                $('#firstIndex').append(firstIndex);
                var secondIndex = `
                                                               <h2><a href="blog-post.html">${newsList[1].newsTitle}</a></h2>

                                    <div class="post-entry clearfix"> <a href="/Uploads/${newsList[1].newsImage}" class="fancybox"><img src="/Uploads/${newsList[1].newsImage}" alt="" class="alignleft" /></a>
                                    <p>${newsList[1].description}</p>
                                <div class="blog-end row margin-top-20">

                                    <div class="clearfix"></div>
                                </div>
                            </div>`;
                $('#secondIndex').append(secondIndex);

                var thirdIndex = `
                                                               <h2><a href="blog-post.html">${newsList[2].newsTitle}</a></h2>

                                    <div class="post-entry clearfix"> <a href="/Uploads/${newsList[2].newsImage}" class="fancybox"><img src="/Uploads/${newsList[2].newsImage}" alt="" class="alignleft" /></a>
                                    <p>${newsList[2].description}</p>
                                <div class="blog-end row margin-top-20">

                                    <div class="clearfix"></div>
                                </div>
                            </div>`;
                $('#thirdIndex').append(thirdIndex);

                var forthIndex = `
                                                               <h2><a href="blog-post.html">${newsList[3].newsTitle}</a></h2>

                                        <div class="post-entry clearfix"> <a href="/Uploads/${newsList[3].newsImage}" class="fancybox"><img src="/Uploads/${newsList[3].newsImage}" alt="" class="alignright" /></a>
                                    <p>${newsList[3].description}</p>
                                <div class="blog-end row margin-top-20">

                                    <div class="clearfix"></div>
                                </div>
                            </div>`;
                $('#forthIndex').append(forthIndex);

                var fifthIndex = `
                                                               <h2><a href="blog-post.html">${newsList[4].newsTitle}</a></h2>

                                        <div class="post-entry clearfix"> <a href="/Uploads/${newsList[4].newsImage}" class="fancybox"><img src="/Uploads/${newsList[4].newsImage}" alt="" class="alignright" /></a>
                                    <p>${newsList[4].description}</p>
                                <div class="blog-end row margin-top-20">

                                    <div class="clearfix"></div>
                                </div>
                            </div>`;
                $('#fifthIndex').append(fifthIndex);
                console.log("this is", newsList[0])
            },
            error: function (err) {
                console.log('Error fetching cars:', err);
            }
        });
    });
</script>
