@{
    ViewData["Title"] = "Home Page";
}

<div class="clearfix"></div>
<section class="banner-wrap">
    <div class="banner">

        <div class="rev_slider_wrapper">
            <!-- START REVOLUTION SLIDER 5.0 auto mode -->
            <div id="rev_slider" class="rev_slider" data-version="5.0">
                <ul>
                    <!-- SLIDE  -->
                    <li data-transition="fade">

                        <!-- MAIN IMAGE -->
                        <img src="/images/slide-show1.jpg" alt="">

                        <!-- LAYERS -->
                        <div class="tp-caption mediumlarge_light_white_center domainate start"
                             data-x="0"
                             data-hoffset="0"
                             data-y="214"
                             data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-speed="1000"
                             data-endspeed="300">
                            DOMINATE
                        </div>

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption internet"
                             data-x="0"
                             data-y="282"
                             data-speed="500"
                             data-start="800"
                             data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-splitin="none"
                             data-splitout="none"
                             style="z-index: 6; letter-spacing: -3px;">
                            THE WORLD OF CARS
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption attract "
                             data-x="0"
                             data-y="369"
                             data-speed="500"
                             data-start="1700"
                             data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;"
                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-splitin="none"
                             data-splitout="none"
                             style="z-index: 6; ">
                            Where Innovation Meets Luxury
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption more "
                             data-x="100"
                             data-y="425"
                             data-speed="800"
                             data-start="1900"
                             data-transform_in="x:-50px;opacity:0;s:2000;e:Power3.easeOut;"
                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-splitin="none"
                             data-splitout="none"
                             style="z-index: 6; ">
                            more specially
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption qualified"
                             data-x="0"
                             data-y="476"
                             data-speed="800"
                             data-start="2600"
                             data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-splitin="none"
                             data-splitout="none"
                             style="z-index: 6">
                            Our friendly and knowledgeable staff is here to provide personalized consultation and assist you
                        </div>


                    </li>

                    <!-- SLIDE  -->
                    <li data-transition="fade">

                        <!-- MAIN IMAGE -->
                        <img src="/images/slide-show2.jpg" alt="">

                        <!-- LAYERS -->
                        <div class="tp-caption mediumlarge_light_white_center invest"
                             data-x="543"
                             data-y="160"
                             data-speed="500"
                             data-start="300"
                             data-transform_in="x:right;s:2000;e:Power4.easeInOut;"
                             data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-splitin="none"
                             data-splitout="none">
                            Our Aim is
                        </div>

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption move mediumlarge_light_white_center"
                             data-x="480"
                             data-y="230"
                             data-speed="500"
                             data-start="800"
                             data-transform_in="x:right;s:2000;e:Power4.easeInOut;"
                             data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-splitin="none"
                             data-splitout="none"
                             style="z-index: 6; letter-spacing: -3px;">
                            Pioneering
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption light_brown mediumlarge_light_white_center sfl"
                             data-x="615"
                             data-y="230"
                             data-speed="500"
                             data-start="1200"
                             data-transform_in="x:right;s:2000;e:Power4.easeInOut;"
                             data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-splitin="none"
                             data-splitout="none"
                             style="z-index: 6;"> </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption dark_brown mediumlarge_light_white_center "
                             data-x="735"
                             data-y="230"
                             data-speed="800"
                             data-start="1900"
                             data-transform_in="x:right;s:2000;e:Power4.easeInOut;"
                             data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-splitin="none"
                             data-splitout="none"
                             style="z-index: 6;">
                            The Future Of
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption faster mediumlarge_light_white_center"
                             data-x="975"
                             data-y="230"
                             data-speed="800"
                             data-start="2600"
                             data-transform_in="x:right;s:2000;e:Power4.easeInOut;"
                             data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-splitin="none"
                             data-splitout="none"
                             style="z-index: 6">
                            Cars
                        </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption brown_line"
                             data-x="458"
                             data-y="273"
                             data-speed="800"
                             data-start="2600"
                             data-transform_in="x:right;s:2000;e:Power4.easeInOut;"
                             data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-splitin="none"
                             data-splitout="none"
                             style="z-index: 6">
                            <img src="/images/brown_line.jpg" alt="underline">
                        </div>
                    </li>

                    <!-- SLIDE  -->
                    <li data-transition="fade">

                        <!-- MAIN IMAGE -->
                        <img src="/images/slide-show3.jpg" alt="">

                        <!-- LAYERS -->
                        <div class="tp-caption customin customout start green"
                             data-x="40"
                             data-hoffset="0"
                             data-y="510"
                             data-transform_in="y:top;s:2000;e:Power4.easeInOut;"
                             data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-speed="1000"
                             data-start="500"
                             data-endspeed="300">
                            Experience Excellence,
                        </div>

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption big_white fade"
                             data-x="40"
                             data-y="560"
                             data-speed="500"
                             data-start="800"
                             data-transform_in="y:bottom;s:2000;e:Power4.easeInOut;"
                             data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             style="z-index: 6;">
                            Visit Us Today.
                        </div>
                    </li>

                    <!-- SLIDE  -->
                    <li data-transition="fade">
                        <!-- MAIN IMAGE -->
                        <img src="/images/slide-show4.jpg" alt="">

                        <!-- LAYERS -->
                        <div class="tp-caption customin customout start big_white"
                             data-x="0"
                             data-hoffset="0"
                             data-y="235"
                             data-transform_in="x:-50px;opacity:0;s:2000;e:Power3.easeOut;"
                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-speed="1000"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            Discover
                        </div>

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption thin_red fade"
                             data-x="300"
                             data-y="235"
                             data-speed="500"
                             data-start="800"
                             data-transform_in="x:-50px;opacity:0;s:2000;e:Power3.easeOut;"
                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             style="z-index: 6;">
                            the future of driving
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption thin_white skewfromright"
                             data-x="0"
                             data-y="510"
                             data-speed="500"
                             data-start="800"
                             data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             style="z-index: 6;">
                            at the FS Motors Showroom
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption cursive skewfromright"
                             data-x="400"
                             data-y="570"
                             data-speed="500"
                             data-start="800"
                             data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             style="z-index: 6;">
                            Your dream car awaits.
                        </div>
                    </li>

                    <!-- SLIDE  -->
                    <li data-transition="fade">
                        <!-- MAIN IMAGE -->
                        <img src="/images/slide-show5.jpg" alt="">

                        <!-- LAYERS -->
                        <div class="tp-caption mediumlarge_light_white_center domainate customin customout start"
                             data-x="0"
                             data-hoffset="0"
                             data-y="199"
                             data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-speed="1000"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            Turning
                        </div>

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption thin_dark_blue fade"
                             data-x="270"
                             data-y="210"
                             data-speed="500"
                             data-start="800"
                             data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             style="z-index: 6; letter-spacing: 0;">
                            the gears of
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption thinner_white sfl"
                             data-x="05"
                             data-y="270"
                             data-speed="500"
                             data-start="1200"
                             data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
                             data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             style="z-index: 6; ">
                            innovation
                        </div>
                    </li>
                </ul>
            </div><!-- END REVOLUTION SLIDER -->
        </div><!-- END REVOLUTION SLIDER WRAPPER -->

        <script>
            /******************************************
            -   PREPARE PLACEHOLDER FOR SLIDER  -
            ******************************************/

            var revapi;
            jQuery(document).ready(function () {
                revapi = jQuery("#rev_slider").revolution({
                    sliderType: "standard",
                    sliderLayout: "fullwidth",
                    delay: 9000,
                    navigation: {
                        arrows: { enable: true }
                    },
                    gridwidth: 1170,
                    gridheight: 645
                });
            }); /*ready*/
        </script>

        <!-- END REVOLUTION SLIDER -->
        <!-- Content End -->

    </div>
</section>
<section class="message-wrap">
    <div class="container">
        <div class="row">
            <h2 class="col-lg-9 col-md-8 col-sm-12 col-xs-12">Out Motive is to provide your <span class="alternate-font">Choice</span></h2>
            @*            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12"> <a href="#" class="default-btn pull-right action_button lg-button">Schedule a Test Drive</a> </div>
            *@
        </div>
    </div>
    <div class="message-shadow"></div>
</section>
<!--message-wrap ends-->
<section class="content">
    <div class="container">
        <div class="inner-page homepage margin-bottom-none">
            <section class="row car-block-wrap padding-bottom-40">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-bottom-none">
                    <div class="flip margin-bottom-30">
                        <div class="card">
                            <div class="face front"><img class="img-responsive" src="/images/car1.jpg" alt=""></div>
                            <div class="face back">
                                <div class='hover_title'>Race Ready</div>
                                <a href="/home/inventory_listing"><i class="fa fa-link button_icon"></i></a> <a href="/images/car1-lrg.jpg" class="fancybox"><i class="fa fa-arrows-alt button_icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <h4><a href="#">Your Journey to Exceptional Vehicles Starts Here</a></h4>
                    <p class="margin-bottom-none">
                        Are you ready to experience the thrill of the track like never before? At FS Motors,
                        we're excited to announce that our state-of-the-art factory is geared up and primed for an exhilarating Track Day experience.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-bottom-none">
                    <div class="flip horizontal margin-bottom-30">
                        <div class="card">
                            <div class="face front"><img class="img-responsive" src="/images/car2.jpg" alt=""></div>
                            <div class="face back">
                                <div class='hover_title'>Family Oriented</div>
                                <a href="/home/inventory_listing"><i class="fa fa-link button_icon"></i></a> <a href="/images/car2-lrg.jpg" class="fancybox"><i class="fa fa-arrows-alt button_icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <h4><a href="#">Car Designed for Family Adventures</a></h4>
                    <p class="margin-bottom-none">
                        Introducing the perfect blend of style, performance, and versatility – our Sport Utility Vehicles (SUVs) are designed with your family in mind.
                        At FS Motors, we understand the importance of family adventures, and our SUV lineup is here to elevate every journey.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-bottom-none">
                    <div class="flip margin-bottom-30">
                        <div class="card">
                            <div class="face front"><img class="img-responsive" src="/images/car3.jpg" alt=""></div>
                            <div class="face back">
                                <div class='hover_title'>World Class</div>
                                <a href="/home/inventory_listing"><i class="fa fa-link button_icon"></i></a> <a href="/images/car3-lrg.jpg" class="fancybox"><i class="fa fa-arrows-alt button_icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <h4><a href="#">Express Your Executive Style</a></h4>
                    <p class="margin-bottom-none">
                        "Excellence is not our goal; it's our standard. At FS Motors,
                        we are committed to achieving nothing less than the extraordinary in every endeavor.
                        Our unwavering dedication to innovation, quality, and customer
                        satisfaction propels us to redefine industry norms and set new benchmarks.
                    </p>
                </div>
            </section>

            <!--car-block-wrap ends-->
            <div class="row parallax_parent design_2 margin-bottom-40 margin-top-30">
                <div class="parallax_scroll clearfix" data-velocity="-.5" data-offset="-200" data-image="/images/parallax1.jpg">
                    <div class="overlay">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 padding-left-none xs-margin-bottom-none xs-padding-top-30 scroll_effect bounceInLeft">
                                    <span class="align-center"><i class="fa fa-6x fa-bar-chart-o"></i></span>
                                    <h3>Innovation at Its Core</h3>
                                    <p>
                                        Experience the future of mobility with our innovative and technologically advanced vehicles. From hybrid marvels to electric wonders,
                                        we embrace sustainability without compromising on performance. At FS Motors, we're driving the evolution of the automotive industry.
                                    </p>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 xs-margin-bottom-none xs-padding-top-30 scroll_effect bounceInLeft" data-wow-delay=".2s">
                                    <span class="align-center"><i class="fa fa-6x fa-road"></i></span>
                                    <h3> Personalized Service</h3>
                                    <p>
                                        Our commitment to customer satisfaction knows no bounds. With a team of dedicated experts, we provide personalized assistance
                                        at every step of your journey. From test drives to financing options, FS Motors ensures that your experience is seamless and enjoyable.
                                    </p>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 xs-margin-bottom-none xs-padding-top-30 scroll_effect bounceInRight" data-wow-delay=".2s">
                                    <span class="align-center"><i class="fa fa-6x fa-flag-checkered"></i></span>
                                    <h3>Exceptional Quality</h3>
                                    <p>
                                        Quality is not just a promise; it's our commitment. Each vehicle in our inventory undergoes rigorous
                                        inspection to meet the highest standards of reliability and safety. With FS Motors, you can trust that you are investing in excellence..
                                    </p>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 xs-margin-bottom-none xs-padding-top-30 padding-right-none scroll_effect bounceInRight">
                                    <span class="align-center"><i class="fa fa-6x fa-dashboard"></i></span>
                                    <h3>Luxury Redefined</h3>
                                    <p>
                                        Indulge in the epitome of opulence with our collection of luxury vehicles. Each vehicle represents an immaculate fusion of design, comfort,
                                        and sophistication. Whether you seek a statement-making sports car or an elegant sedan, FS Motors offers the finest selection to cater to your distinct tastes.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--car-info-wrap ends-->
            <section class="welcome-wrap padding-top-30 sm-horizontal-15">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 welcome padding-left-none padding-bottom-40 scroll_effect fadeInUp">
                        <h4 class="margin-bottom-25 margin-top-none"><strong>WELCOME</strong> TO FS Motors, Sharjah, UAE</h4>
                        <p>
                            At FS Motors, we redefine the world of automotive excellence. Nestled in the heart of the United Arab Emirates,
                            FS Motors stands as a beacon of luxury, innovation, and superior performance. As your premier destination for
                            automotive aspirations, we invite you to embark on a journey like no other <span class="alternate-font">Unveiling a World of Possibilities</span>.
                        </p>
                        <p>
                            At FS Motors, we don't just sell vehicles; we deliver experiences. Our extensive range of meticulously curated automobiles showcases the pinnacle of
                            automotive engineering, blending cutting-edge technology with timeless <span class="alternate-font">craftsmanship.</span>.
                        </p>
                    </div>
                    <div class="loader" style="display: none;">Loading...</div>
                    <!--welcome ends-->
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 padding-bottom-40 scroll_effect fadeInUp" data-wow-delay='.2s' style="z-index:100">
                        <h4 class="margin-bottom-25 margin-top-none"><strong>SEARCH</strong> OUR CAR</h4>
                        <div class="search-form margin-top-20 padding-vertical-20">
                            <form id="carSearchForm" method="post" action="#">
                                <div class="select-wrapper row clearfix">
                                    <div class="col-md-6">
                                        <div class="min-price select-dropdown">
                                            <div class="my-dropdown min-price-dropdown min-dropdown">
                                                <select id="minYear" name="min-year" class="css-dropdowns" tabindex="1">
                                                    <option value="">Min Year</option>
                                                    <option value="2023">2023</option>
                                                    <option value="2022">2022</option>
                                                    <option value="2021">2021</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2019">2019</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2017">2017</option>
                                                    <option value="2016">2016</option>
                                                    <option value="2015">2015</option>
                                                    <option value="2014">2014</option>
                                                    <option value="2013">2013</option>
                                                    <option value="2012">2012</option>
                                                    <option value="2011">2011</option>
                                                    <option value="2010">2010</option>
                                                </select>
                                            </div>
                                            <span class="my-dropdown">to</span>
                                            <div class="my-dropdown max-price-dropdown min-dropdown">
                                                <select id="maxYear" name="max-year" class="css-dropdowns" tabindex="1">

                                                    <option value="">Max Year</option>
                                                    <option value="2023">2023</option>
                                                    <option value="2022">2022</option>
                                                    <option value="2021">2021</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2019">2019</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2017">2017</option>
                                                    <option value="2016">2016</option>
                                                    <option value="2015">2015</option>
                                                    <option value="2014">2014</option>
                                                    <option value="2013">2013</option>
                                                    <option value="2012">2012</option>
                                                    <option value="2011">2011</option>
                                                    <option value="2010">2010</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="min-price select-dropdown">
                                            <div class="my-dropdown min-price-dropdown min-dropdown">
                                                <select id="minPrice" name="min-price" class="css-dropdowns" tabindex="1">
                                                    <option value="">Min Price</option>
                                                    <option value="0">0</option>
                                                    <option value="100000">100,000</option>
                                                    <option value="200000">200,000</option>
                                                    <option value="300000">300,000</option>
                                                    <option value="400000">400,000</option>
                                                    <option value="500000">500,000</option>
                                                    <option value="600000">600,000</option>
                                                    <option value="700000">700,000</option>
                                                    <option value="800000">800,000</option>
                                                    <option value="900000">900,000</option>
                                                    <option value="1000000">1,000,000</option>
                                                    <option value="1200000">1,200,000</option>
                                                    <option value="1500000">1,500,000</option>
                                                </select>
                                            </div>
                                            <span class="my-dropdown">to</span>
                                            <div class="my-dropdown max-price-dropdown min-dropdown">
                                                <select id="maxPrice" name="max-price" class="css-dropdowns" tabindex="1">
                                                    <option value="">Max Price</option>
                                                    <option value="1000000">100,0000</option>
                                                    <option value="2000000">200,0000</option>
                                                    <option value="30000000">3,0000,000</option>
                                                    <option value="40000000">4,0000,000</option>
                                                    <option value="50000000">5,0000,000</option>
                                                    <option value="60000000">6,0000,000</option>
                                                    <option value="700000000">7,00000,000</option>
                                                    <option value="80000000">8,0000,000</option>
                                                    <option value="90000000">9,0000,000</option>
                                                    <option value="100000000">10,0000,000</option>
                                                    <option value="120000000">12,0000,000</option>
                                                    <option value="150000000">15,0000,000</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="select-wrapper row clearfix">
                                    <div class="col-md-6">
                                        <div class="min-price select-dropdown">
                                            <div class="my-dropdown min-price-dropdown min-dropdown">
                                                <select id="minMileage" name="min-mileage" class="css-dropdowns" tabindex="1">
                                                    <option value="">Min Mileage</option>
                                                    <option value="0">0</option>
                                                    <option value="100">100</option>
                                                    <option value="2000">2000</option>
                                                    <option value="3000">3000</option>
                                                    <option value="4000">4000</option>
                                                    <option value="5000">5000</option>
                                                    <option value="6000">6000</option>
                                                    <option value="7000">7000</option>
                                                    <option value="8000">8000</option>
                                                    <option value="9000">9000</option>
                                                    <option value="10000">10000</option>
                                                    <option value="12000">12000</option>
                                                    <option value="15000">15000</option>
                                                </select>
                                            </div>
                                            <span class="my-dropdown">to</span>
                                            <div class="my-dropdown max-price-dropdown min-dropdown">
                                                <select id="maxMileage" name="max-mileage" class="css-dropdowns" tabindex="1">
                                                    <option value="">Max Mileage</option>
                                                    <option value="0">0</option>
                                                    <option value="1000">1000</option>
                                                    <option value="20000">20000</option>
                                                    <option value="30000">30000</option>
                                                    <option value="40000">40000</option>
                                                    <option value="50000">50000</option>
                                                    <option value="60000">60000</option>
                                                    <option value="70000">70000</option>
                                                    <option value="80000">80000</option>
                                                    <option value="90000">90000</option>
                                                    <option value="100000">100000</option>
                                                    <option value="120000">120000</option>
                                                    <option value="150000">150000</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="select-wrapper row clearfix">
                                    <div class="col-md-6">
                                        <div class="my-dropdown make-dropdown">
                                            <input id="model" class="full-width" type="search" value="" placeholder="Model">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="my-dropdown make-dropdown">
                                            <select id="transmission" name="transmission" class="css-dropdowns" tabindex="1">
                                                <option>Transmission</option>
                                                <option value="Automatic">Automatic</option>
                                                <option value="Manual">Manual</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="select-wrapper row clearfix">
                                    <div class="col-md-6">
                                        <div class="my-dropdown make-dropdown">
                                            <select id="make" name="make" class="css-dropdowns" tabindex="1">
                                                <option value="">Make</option>
                                                <option value="Toyota">Toyota</option>
                                                <option value="Ford">Ford</option>
                                                <option value="Lexus">Lexus</option>
                                                <option value="Honda">Honda</option>
                                                <option value="Volkswagen">Volkswagen</option>
                                                <option value="BMW">BMW</option>
                                                <option value="Mercedes-Benz">Mercedes-Benz</option>
                                                <option value="Audi">Audi</option>
                                                <option value="Tesla">Tesla</option>
                                                <option value="Nissan">Nissan</option>
                                                <option value="Hyundai">Hyundai</option>
                                                <option value="Volvo">Volvo</option>
                                                <option value="Subaru">Subaru</option>
                                                <option value="Ferrari">Ferrari</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="my-dropdown">
                                            <input id="keywords" class="full-width" type="search" value="" placeholder="Refine with Car Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="select-wrapper row clearfix">
                                    <div class="form-element clearfix">
                                        <input id="certified" type="checkbox" name="certified">
                                        <label for="certified">Certified</label>
                                    </div>
                                    <div class="form-element">
                                        <input id="carfaxVerified" type="checkbox" name="carfax-verified">
                                        <label for="carfaxVerified">CARFAX&reg; Verified</label>
                                    </div>
                                    <div class="form-element">
                                        <input id="brandNew" type="checkbox" name="brand-new">
                                        <label for="brandNew">Brand New</label>
                                    </div>
                                    <div class="form-element">
                                        <input type="submit" value="Find Vehicle" class="find_new_vehicle pull-right md-button">
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <!--invetory ends-->
                </div>

                <div class="recent-vehicles-wrap margin-top-30 sm-padding-left-none padding-bottom-40">
                    <div class="row">
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 recent-vehicles padding-left-none">
                            <h5 class="margin-top-none">Recent Vehicles</h5>
                            <p>
                                Browse through the vast
                                selection of vehicles that
                                have recently been added
                                to our inventory.
                            </p>
                            <div class="arrow3 clearfix margin-top-15 xs-margin-bottom-25" id="slideControls3"><span class="prev-btn"></span><span class="next-btn"></span></div>
                        </div>
                        <div class="col-lg-10 col-md-8 col-sm-8 padding-right-none xs-padding-left-none">
                            <div class="carasouel-slider3">
               
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Footer Map -->
                <div class='fullwidth_element_parent margin-top-30 padding-bottom-40'>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 recent-vehicles padding-left-none">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3606.704427479217!2d55.40635487452429!3d25.314132826956023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f5eac969249d1%3A0x4c3d5135ef8da746!2sIndustrial%20Area%202%20-%20Industrial%20Area%20-%20Sharjah%20-%20United%20Arab%20Emirates!5e0!3m2!1sen!2s!4v1698898155165!5m2!1sen!2s" width="1200" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                    </div>  
                    </div>

                <div class="car-rate-block row clearfix margin-top-30 padding-bottom-40">
                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 xs-margin-bottom-40 sm-margin-bottom-none padding-left-none scroll_effect bounceInLeft">
                        <div class="small-block clearfix">
                            <h4 class="margin-bottom-25 margin-top-none">Financing.</h4>
                            <a href="#"><span class="align-center"><i class="fa fa-tag fa-7x"></i></span></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 xs-margin-bottom-40 sm-margin-bottom-none scroll_effect bounceInLeft" data-wow-delay=".2s">
                        <div class="small-block clearfix">
                            <h4 class="margin-bottom-25 margin-top-none">Warranty.</h4>
                            <a href="#"><span class="align-center"><i class="fa fa-cogs fa-7x"></i></span></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 padding-left-none padding-right-none hours_operation">
                        <div class="small-block clearfix">
                            <h4 class="margin-bottom-25 margin-top-none">What are our Hours of Operation?</h4>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 xs-margin-bottom-40 sm-margin-bottom-40 md-margin-bottom-none scroll_effect bounceInUp" data-wow-delay=".4s">
                                    <table class="table table-bordered no-border font-13px margin-bottom-none">
                                        <thead>
                                            <tr>
                                                <td colspan="2"><strong>Sales Department</strong></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Mon:</td>
                                                <td>8:00am - 5:00pm</td>
                                            </tr>
                                            <tr>
                                                <td>Tue:</td>
                                                <td>8:00am - 9:00pm</td>
                                            </tr>
                                            <tr>
                                                <td>Wed:</td>
                                                <td>8:00am - 5:00pm</td>
                                            </tr>
                                            <tr>
                                                <td>Thu:</td>
                                                <td>8:00am - 9:00pm</td>
                                            </tr>
                                            <tr>
                                                <td>Fri:</td>
                                                <td>8:00am - 6:00pm</td>
                                            </tr>
                                            <tr>
                                                <td>Sat:</td>
                                                <td>9:00am - 5:00pm</td>
                                            </tr>
                                            <tr>
                                                <td>Sun:</td>
                                                <td>Closed</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 xs-margin-bottom-40 sm-margin-bottom-none scroll_effect bounceInUp" data-wow-delay=".4s">
                                    <table class="table table-bordered no-border font-13px margin-bottom-none">
                                        <thead>
                                            <tr>
                                                <td colspan="2"><strong>Service Department</strong></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Mon:</td>
                                                <td>8:00am - 5:00pm</td>
                                            </tr>
                                            <tr>
                                                <td>Tue:</td>
                                                <td>8:00am - 9:00pm</td>
                                            </tr>
                                            <tr>
                                                <td>Wed:</td>
                                                <td>8:00am - 5:00pm</td>
                                            </tr>
                                            <tr>
                                                <td>Thu:</td>
                                                <td>8:00am - 9:00pm</td>
                                            </tr>
                                            <tr>
                                                <td>Fri:</td>
                                                <td>8:00am - 6:00pm</td>
                                            </tr>
                                            <tr>
                                                <td>Sat:</td>
                                                <td>9:00am - 5:00pm</td>
                                            </tr>
                                            <tr>
                                                <td>Sun:</td>
                                                <td>Closed</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 xs-margin-bottom-40 sm-margin-bottom-none scroll_effect bounceInRight" data-wow-delay=".2s">
                        <div class="small-block clearfix">
                            <h4 class="margin-bottom-25 margin-top-none">About Us.</h4>
                            <a href="#"><span class="align-center"><i class="fa fa-users fa-7x"></i></span></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 xs-margin-bottom-40 sm-margin-bottom-none padding-right-none scroll_effect bounceInRight">
                        <div class="small-block clearfix">
                            <h4 class="margin-bottom-25 margin-top-none">Find Us.</h4>
                            <a href="#"><span class="align-center"><i class="fa fa-map-marker fa-7x"></i></span></a>
                        </div>
                    </div>
                </div>
            </section>
            <!--welcome-wrap ends-->

            <div class="row parallax_parent margin-top-30">
                <div class="parallax_scroll clearfix" data-velocity="-.5" data-offset="-300" data-no-repeat="true" data-image="/images/parallax2.jpg">
                    <div class="overlay">
                        <div class="container">

                            <div class="row">

                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 padding-left-none margin-vertical-60">
                                    <i class="fa fa-car"></i>

                                    <span class="animate_number margin-vertical-15">
                                        <span class="number">2,000</span>
                                    </span>

                                    Cars Sold
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin-vertical-60">
                                    <i class="fa fa-money"></i>

                                    <span class="animate_number margin-vertical-15">
                                        $<span class="number">750,000</span>
                                    </span>

                                    Amount Sold
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin-vertical-60">
                                    <i class="fa fa-users"></i>

                                    <span class="animate_number margin-vertical-15">
                                        <span class="number">100</span>%
                                    </span>

                                    Customer Satisfaction
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 padding-right-none margin-vertical-60">
                                    <i class="fa fa-tint"></i>

                                    <span class="animate_number margin-vertical-15">
                                        <span class="number">3,600</span>
                                    </span>

                                    Oil Changes
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function() {
    $.ajax({
        url: '/Home/GetTenCars', // Replace with your actual controller route
        type: 'GET',
        success: function(cars) {
            // Assuming 'cars' is an array of car objects
            cars.forEach(function(car) {

                var carBlock = `
                        <div class="slide" style="float: left; list-style: none; position: relative; margin-right: 30px; width: 170px;">
                        <div class="angled_badge blue">
                                    <span>${car.carStatus}</span>
                        </div>
                        <div class="car-block">
                            <div class="img-flex">
                                <a href="/home/inventory_listing"><span class="align-center"><i class="fa fa-3x fa-plus-square-o"></i></span></a>
                                        <img src="/Uploads/${car.frontImage}" alt="" class="img-responsive">
                            </div>
                            <div class="car-block-bottom">
                                <h6><strong>${car.name}</strong></h6>
                                    <h6>${car.makeCompany}</h6>
                                <h5>AED ${car.sellingPrice}</h5>
                            </div>
                        </div>
                    </div>`;

                $('.carasouel-slider3').append(carBlock);
            });
        },
        error: function(err) {
            console.log('Error fetching cars:', err);
        }
    });
});

    $(document).ready(function () {
        $('#carSearchForm').submit(function (e) {
            e.preventDefault();
            // Show loader before the AJAX request
            $('.loader').show();
            var formData = {
                MakeYearMinimum: $('#minYear').val(),
                MakeYearMaximum: $('#maxYear').val(),
                TotalPriceMinimum: $('#minPrice').val(),
                TotalPriceMaximum: $('#maxPrice').val(),
                FuelMilageMinimum: $('#minMileage').val(),
                FuelMilageMaximum: $('#maxMileage').val(),
                maxPrice: $('#model').val(),
                TransmissionType: $('#transmission').val(),
                MakeCompany: $('#make').val(),
                Name: $('#keywords').val(),
            };
            console.log("formData", formData)
            // Ajax call with form data
            $.ajax({
                type: 'POST',
                url: '/Home/getCar', // Replace with your controller's endpoint
                data: formData,
                success: function (data) {
                    $('.loader').hide();
                    // Handle the response data as needed
                    window.location.href = '/Home/Search_car_list';
                    console.log(data);
                },
                error: function (error) {
                    // Handle error, if any
                     $('.loader').hide();
                    console.log('Error:', error);
                }
            });
        });
    });

</script>