@{
    Layout = "~/Views/Shared/_Layout_Investor.cshtml";
}

<div class="clearfix"></div>
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 xs-padding-bottom-40 sm-padding-bottom-40 scroll_effect fadeInUp">
    <h3 class="margin-bottom-25">Investor Policy</h3>
    <div class="choose-list">
        <ul>
            <li>Transparent Communication: Regular and clear communication channels to keep investors informed about company performance, updates, and potential challenges.</li>

            <li>Profit Sharing: A fair and competitive profit-sharing mechanism to ensure investors participate in the success of the car investment.</li>

            <li>Risk Mitigation: Clearly defined strategies for risk management and mitigation, demonstrating a commitment to protecting investor capital.</li>

            <li>Performance Metrics: Establish key performance indicators (KPIs) to track and measure the success of the car investment, providing investors with measurable outcomes.</li>

            <li>Exit Strategy: A well-defined exit strategy that outlines potential exit scenarios and ensures a smooth process for investors to realize returns on their investment.</li>

            <li>Investor Education: Regular workshops, webinars, or materials to educate investors about the automotive industry, market trends, and the specific factors influencing their investment.</li>

            <li>Alignment of Interests: Structures in place to align the interests of investors with the company, fostering a sense of partnership and mutual benefit.</li>

            <li>Responsive Support: Dedicated support channels for investors to address inquiries, concerns, and provide assistance throughout the investment lifecycle.</li>

            <li>Environmental and Social Responsibility: Integration of sustainable and socially responsible practices in the car investment, appealing to investors with a focus on ethical and responsible investing.</li>

            <li>Exclusive Benefits: Offering exclusive perks or benefits to investors, such as early access to new car models, discounts on services, or other incentives to enhance investor loyalty.</li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>