<style>
    .circular-image-container {
        width: 170px; /* Adjust the width and height as needed */
        height: 170px;
        overflow: hidden;
        border-radius: 50%;
       
    }

        .circular-image-container img {
            width: 120%;
            height: 120%;
            object-fit: cover;
            border-radius: 50%;
        }
</style>
<div class="clearfix"></div>
<section id="secondary-banner" class="dynamic-image-11">
    <!--for other /images just change the class name of this section block like, class="dynamic-image-2" and add css for the changed class-->
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>Our Team</h2>
                <h5>Our Team FS Motors is a dynamic and dedicated group of automotive enthusiasts and professionals,</h5>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>Our Team</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--secondary-banner ends-->
<div class="message-shadow"></div>
<div class="clearfix"></div>
<section class="content">
    <div class="container">
        <div class="inner-page">
            <div class="find_team clearfix">
                <h2 class="margin-top-none">MEET THE MANAGEMENT</h2>
                <div class="people padding-bottom-40 clearfix">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 scroll_effect fadeInUp">
                            <div class="team margin-top-15 xs-margin-bottom-30">
                                <div class="circular-image-container">
                                    <a href="/images/teamfs4.jpeg" class="fancybox">
                                        <img src="/images/teamfs4.jpeg" class="aligncenter" alt="team" />
                                    </a>
                                </div>
                                <div class="name_post padding-bottom-15">
                                    <h4>Afzal Khan</h4>
                                    <p>Chief Financial Officer</p>
                                </div>
                                <div class="about_team padding-bottom-10">
                                    <p class="margin-vertical-15">

                                    </p>
                                    <ul>
                                        @*<li><i class="fa fa-phone"></i></li>*@
                                        <li><i class="fa fa-mobile"></i>03105555383</li>
                                        <li><i class="fa fa-envelope-o"></i>test@DelegateStartup.com<a href="#"></a></li>
                                    </ul>
                                </div>
                                <div class="social_team pull-left">
                                    <ul class="social margin-bottom-none">
                                        <li class="margin-bottom-none"><a class="sc-1" href="#"></a></li>
                                        <li class="margin-bottom-none"><a class="sc-2" href="#"></a></li>
                                        <li class="margin-bottom-none"><a class="sc-5" href="#"></a></li>
                                        <li class="margin-bottom-none"><a class="sc-7" href="#"></a></li>
                                        <li class="margin-bottom-none"><a class="sc-9" href="#"></a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</section>
<div class="find_team padding-bottom-40 sales_team margin-top-30 clearfix">
    <h2 class="margin-top-none">MEET OUR SALES TEAM</h2>
    <div class="people clearfix">
        <div class="row">
            <div class="col-md-4 col-sm-12 scroll_effect fadeInUp" data-wow-delay=".1s">
                <div class="team margin-top-15 xs-margin-bottom-30">
                    <div class="circular-image-container">
                    <a href="/images/teamfs2.jpeg" class="fancybox">
                            <img src="/images/teamfs2.jpeg" class="aligncenter" alt="team" />
                        </a>
                    </div>
                    <div class="name_post padding-bottom-15">
                        <h4>Yassen khan </h4>
                        <p>Designation. Sale executive-II</p>
                    </div>
                    <div class="about_team padding-bottom-10">
                        <p class="margin-vertical-15">

                        </p>
                        <ul>
                            @*   <li><i class="fa fa-phone"></i></li>*@
                            <li><i class="fa fa-mobile"></i>03400151422</li>
                            <li><i class="fa fa-envelope-o"></i><a href="#">Malikyaseen1455@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="social_team pull-left">
                        <ul class="social margin-bottom-none">
                            <li class="margin-bottom-none"><a class="sc-1" href="#"></a></li>
                            <li class="margin-bottom-none"><a class="sc-2" href="#"></a></li>
                            <li class="margin-bottom-none"><a class="sc-5" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 scroll_effect fadeInUp" data-wow-delay=".2s">
                <div class="team margin-top-15">
                    <div class="circular-image-container">
                    <a href="/images/teamfs3.jpeg" class="fancybox"> 
                        <img src="/images/teamfs3.jpeg" class="aligncenter" alt="team" /> </a>
                    </div>
                    <div class="name_post padding-bottom-15">
                        <h4>Qari Bilal</h4>
                        <p>Admin and Finance Manager</p>
                    </div>
                    <div class="about_team padding-bottom-10">
                        <p class="margin-vertical-15">

                        </p>
                        <ul>
                            @*<li><i class="fa fa-phone"></i></li>*@
                            <li><i class="fa fa-mobile"></i>03429013018</li>
                            <li><i class="fa fa-envelope-o"></i><a href="#">qaribilal2411791@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="social_team pull-left">
                        <ul class="social margin-bottom-none">
                            <li class="margin-bottom-none"><a class="sc-1" href="#"></a></li>
                            <li class="margin-bottom-none"><a class="sc-2" href="#"></a></li>
                            <li class="margin-bottom-none"><a class="sc-5" href="#"></a></li>
                            <li class="margin-bottom-none"><a class="sc-9" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-3 scroll_effect fadeInUp" data-wow-delay=".3s">
                <div class="team margin-top-15 xs-margin-bottom-30">
                    <div class="circular-image-container">
                        <a href="/images/teamfs1.jpeg" class="fancybox">
                            <img src="/images/teamfs1.jpeg" class="aligncenter" alt="team" />
                        </a>
                        </div>
                    <div class="name_post padding-bottom-15">
                        <h4>Shamyl khan</h4>
                        <p>Sales Executive</p>
                    </div>
                    <div class="about_team padding-bottom-10">
                        <p class="margin-vertical-15">

                        </p>
                        <ul>
                            @*<li><i class="fa fa-phone"></i></li>*@
                            <li><i class="fa fa-mobile"></i>03362457799</li>
                            <li><i class="fa fa-envelope-o"></i><a href="#">shamylkhansk9@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="social_team pull-left">
                        <ul class="social margin-bottom-none">
                            <li class="margin-bottom-none"><a class="sc-1" href="#"></a></li>
                            <li class="margin-bottom-none"><a class="sc-2" href="#"></a></li>
                            <li class="margin-bottom-none"><a class="sc-5" href="#"></a></li>
                            <li class="margin-bottom-none"><a class="sc-7" href="#"></a></li>
                            <li class="margin-bottom-none"><a class="sc-9" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>



