<!doctype html>
<!--[if IE 7 ]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Mirrored from demo.themesuite.com/automotive/portfolio-4-column.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 05 Jul 2023 10:32:32 GMT -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="/images/favicon.ico">
<title>Automotive Car Dealership &amp; Business HTML Template</title>
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Yellowtail%7COpen%20Sans%3A400%2C300%2C600%2C700%2C800" media="screen" />
<!-- Custom styles for this template -->
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/jquery.bxslider.css" type="text/css" media="screen" />
<link href="css/jquery.fancybox.css" rel="stylesheet">
<link href="css/jquery.selectbox.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/mobile.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/settings.css" media="screen" />
<link href="css/animate.min.css" rel="stylesheet">
<link href="css/ts.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>

<!-- Twitter Feed Scripts
     Uncomment to activate

<script type="text/javascript" src="js/twitter/jquery.tweet.js"></script>
<script type="text/javascript" src="js/twitter/twitter_feed.js"></script> -->

</head>


<section id="secondary-banner" class="dynamic-image-10"><!--for other /images just change the class name of this section block like, class="dynamic-image-2" and add css for the changed class-->
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>Portfolio: 4 Column</h2>
                <h4>Exceptional /images deserve an exceptional presentation.</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li>4 Column</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--secondary-banner ends-->
<div class="message-shadow"></div>
<div class="clearfix"></div>
<section class="content">
    <div class="container">
        <div class="inner-page portfolio-container row">
            <div class="list_faq clearfix col-lg-12 margin-bottom-40">
                <h5 class="padding-vertical-10 padding-horizontal-15">Sort Portfolio By:</h5>
                <ul class="portfolioFilter padding-left-25">
                    <li class="active"><a href="#" data-filter="*" class="current filter">All</a></li>
                    <li><a href="#" class="filter" data-filter=".convertible">Convertible </a></li>
                    <li><a href="#" class="filter" data-filter=".coupe">Coupe</a></li>
                    <li><a href="#" class="filter" data-filter=".hardtop">Hardtop</a></li>
                    <li><a href="#" class="filter" data-filter=".sedan">Sedan</a></li>
                    <li><a href="#" class="filter" data-filter=".sports-car">Sports Car</a></li>
                    <li><a href="#" class="filter" data-filter=".suv">SUV</a></li>
                </ul>
            </div>
            <div class="portfolioContainer portfolio_4">
                <div class="col-md-3 col-sm-6 col-xs-12 convertible sports-car mix margin-bottom-30">
                    <div class="box "> <a  class="fancybox" href="/images/portfolio9-lrg.jpg"><img class="image" src="/images/portfolio9.jpg" alt=""/></a> </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 coupe suv mix margin-bottom-30">
                    <div class="box "> <a class="fancybox" href="/images/portfolio13-lrg.jpg"><img class="image" src="/images/portfolio13.jpg" alt=""/></a> </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 convertible hardtop mix margin-bottom-30">
                    <div class="box "><a class="fancybox" href="/images/portfolio14-lrg.jpg"><img class="image" src="/images/portfolio14.jpg" alt=""/></a> </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 coupe sedan mix margin-bottom-30">
                    <div class="box "> <a class="fancybox" href="/images/portfolio17-lrg.jpg"><img class="image" src="/images/portfolio17.jpg" alt=""/></a> </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 hardtop sports-car mix margin-bottom-30">
                    <div class="box "><a class="fancybox" href="/images/portfolio15-lrg.jpg"><img class="image" src="/images/portfolio15.jpg" alt=""/></a> </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 sedan suv mix margin-bottom-30">
                    <div class="box "> <a class="fancybox" href="/images/portfolio16-lrg.jpg"><img class="image" src="/images/portfolio16.jpg" alt=""/></a> </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 convertible suv mix margin-bottom-30">
                    <div class="box "> <a class="fancybox" href="/images/portfolio18-lrg.jpg"><img class="image" src="/images/portfolio18.jpg" alt=""/> </a> </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 coupe sports-car mix margin-bottom-30">
                    <div class="box "> <a class="fancybox" href="/images/portfolio19-lrg.jpg"><img class="image" src="/images/portfolio19.jpg" alt=""/></a> </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 coupe sports-car mix margin-bottom-30">
                    <div class="box "> <a class="fancybox" href="/images/portfolio20-lrg.jpg"><img class="image" src="/images/portfolio20.jpg" alt=""/></a> </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 convertible suv mix margin-bottom-30">
                    <div class="box "> <a class="fancybox" href="/images/portfolio12-lrg.jpg"><img class="image" src="/images/portfolio12.jpg" alt=""/></a> </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 coupe sports-car mix margin-bottom-30">
                    <div class="box "><a class="fancybox" href="/images/portfolio11-lrg.jpg"><img class="image" src="/images/portfolio11.jpg" alt=""/></a> </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 convertible suv mix margin-bottom-30">
                    <div class="box "> <a class="fancybox" href="/images/portfolio21-lrg.jpg"><img class="image" src="/images/portfolio21.jpg" alt=""/></a> </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 convertible sports-car mix margin-bottom-30">
                    <div class="box "><a class="fancybox" href="/images/portfolio10-lrg.jpg"><img class="image" src="/images/portfolio10.jpg" alt=""/></a> </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 coupe suv mix margin-bottom-30">
                    <div class="box "> <a class="fancybox" href="/images/portfolio22-lrg.jpg"><img class="image" src="/images/portfolio22.jpg" alt=""/></a> </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 convertible hardtop mix margin-bottom-30">
                    <div class="box "> <a class="fancybox" href="/images/portfolio23-lrg.jpg"><img class="image" src="/images/portfolio23.jpg" alt=""/></a> </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 hardtop sports-car mix margin-bottom-30">
                    <div class="box "> <a class="fancybox" href="/images/portfolio24-lrg.jpg"><img class="image" src="/images/portfolio24.jpg" alt=""/></a> </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pagiation-page">
                <ul class="pagination margin-top-20 margin-bottom-none">
                    <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--container ends-->
</section>
<!--content ends-->



<div class="clearfix"></div>
