

<section id="secondary-banner" class="dynamic-image-10"><!--for other images just change the class name of this section block like, class="dynamic-image-2" and add css for the changed class-->
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>Portfolio: 4 Column Details</h2>
                <h4>Exceptional images deserve an exceptional presentation.</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li>4 Column Details</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--secondary-banner ends-->
<div class="message-shadow"></div>
<div class="clearfix"></div>
<section class="content">
    <div class="container">
        <div class="inner-page portfolio-container row">
            <div class="list_faq clearfix col-lg-12 margin-bottom-40">
                <h5 class="padding-vertical-10 padding-horizontal-15">Sort Portfolio By:</h5>
                <ul class="portfolioFilter padding-left-25">
                    <li class="active"><a href="#" data-filter="*" class="current filter">All</a></li>
                    <li><a href="#" class="filter" data-filter=".convertible">Convertible </a></li>
                    <li><a href="#" class="filter" data-filter=".coupe">Coupe</a></li>
                    <li><a href="#" class="filter" data-filter=".hardtop">Hardtop</a></li>
                    <li><a href="#" class="filter" data-filter=".sedan">Sedan</a></li>
                    <li><a href="#" class="filter" data-filter=".sports-car">Sports Car</a></li>
                    <li><a href="#" class="filter" data-filter=".suv">SUV</a></li>
                </ul>
            </div>
            <div class="portfolioContainer portfolio_4">
                <div class="col-md-3 hardtop suv mix margin-bottom-50">
                    <div class="box clearfix"> <a class="fancybox" href="images/portfolio9-lrg.jpg"><img class="image" src="images/portfolio9.jpg" alt="" /></a>
                        <div class="padding-top-25 padding-bottom-10">
                            <h2>Nam Viverra Euismod</h2>
                            <span>Hardtop, SUV</span> </div>
                        <p>Lorem ipsum dolor sit amet, consectetue
                            adipiscing elit. Aenean commodo ligula
                            eget dolor aenean massa. Cum sociisum.</p>
                    </div>
                </div>
                <div class="col-md-3 coupe convertible mix margin-bottom-50">
                    <div class="box clearfix"> <a class="fancybox" href="images/portfolio13-lrg.jpg"><img class="image" src="images/portfolio13.jpg" alt="" /></a>
                        <div class="padding-top-25 padding-bottom-10">
                            <h2>Tristique Senectus</h2>
                            <span>Convertible, Coupe</span> </div>
                        <p>Lorem ipsum dolor sit amet, consectetue
                            adipiscing elit. Aenean commodo ligula
                            eget dolor aenean massa. Cum sociisum.</p>
                    </div>
                </div>
                <div class="col-md-3 sedan hardtop sports-car mix margin-bottom-50">
                    <div class="box clearfix"> <a class="fancybox" href="images/portfolio14-lrg.jpg"><img class="image" src="images/portfolio14.jpg" alt="" /> </a>
                        <div class="padding-top-25 padding-bottom-10">
                            <h2>Aenean Fermentum</h2>
                            <span>Hardtop, Sedan, Sports Car</span> </div>
                        <p>Lorem ipsum dolor sit amet, consectetue
                            adipiscing elit. Aenean commodo ligula
                            eget dolor aenean massa. Cum sociisum.</p>
                    </div>
                </div>
                <div class="col-md-3 coupe sports-car convertible mix margin-bottom-50">
                    <div class="box clearfix"> <a class="fancybox" href="images/portfolio17-lrg.jpg"><img class="image" src="images/portfolio17.jpg" alt="" /> </a>
                        <div class="padding-top-25 padding-bottom-10">
                            <h2>Pellentesque Hant Morbi</h2>
                            <span>Convertible, Coupe, Sports Car</span> </div>
                        <p>Lorem ipsum dolor sit amet, consectetue
                            adipiscing elit. Aenean commodo ligula
                            eget dolor aenean massa. Cum sociisum.</p>
                    </div>
                </div>
                <div class="col-md-3 coupe sports-car convertible mix margin-bottom-50">
                    <div class="box clearfix"> <a class="fancybox" href="images/portfolio15-lrg.jpg"><img class="image" src="images/portfolio15.jpg" alt="" /> </a>
                        <div class="padding-top-25 padding-bottom-10">
                            <h2>Proin Sodales Quam</h2>
                            <span>Convertible, Coupe, Sports Car</span> </div>
                        <p>Lorem ipsum dolor sit amet, consectetue
                            adipiscing elit. Aenean commodo ligula
                            eget dolor aenean massa. Cum sociisum.</p>
                    </div>
                </div>
                <div class="col-md-3 sedan hardtop mix margin-bottom-50">
                    <div class="box clearfix"> <a class="fancybox" href="images/portfolio16-lrg.jpg"><img class="image" src="images/portfolio16.jpg" alt="" /> </a>
                        <div class="padding-top-25 padding-bottom-10">
                            <h2>Curabitur Malesiada Eti</h2>
                            <span>Hardtop, Sedan</span> </div>
                        <p>Lorem ipsum dolor sit amet, consectetue
                            adipiscing elit. Aenean commodo ligula
                            eget dolor aenean massa. Cum sociisum.</p>
                    </div>
                </div>
                <div class="col-md-3 coupe hardtop sports-car mix margin-bottom-50">
                    <div class="box clearfix"> <a class="fancybox" href="images/portfolio18-lrg.jpg"><img class="image" src="images/portfolio18.jpg" alt="" /> </a>
                        <div class="padding-top-25 padding-bottom-10">
                            <h2>Vestibulum Sodales Ante</h2>
                            <span>Coupe, Hardtop, Sports Car</span> </div>
                        <p>Lorem ipsum dolor sit amet, consectetue
                            adipiscing elit. Aenean commodo ligula
                            eget dolor aenean massa. Cum sociisum.</p>
                    </div>
                </div>
                <div class="col-md-3 coupe hardtop sports-car mix margin-bottom-50">
                    <div class="box clearfix"> <a class="fancybox" href="images/portfolio19-lrg.jpg"><img class="image" src="images/portfolio19.jpg" alt="" /> </a>
                        <div class="padding-top-25 padding-bottom-10">
                            <h2>Morbi Inta Nisiut</h2>
                            <span>Coupe, Hardtop, Sports Car</span> </div>
                        <p>Lorem ipsum dolor sit amet, consectetue
                            adipiscing elit. Aenean commodo ligula
                            eget dolor aenean massa. Cum sociisum.</p>
                    </div>
                </div>
                <div class="col-md-3 hardtop suv mix margin-bottom-50">
                    <div class="box clearfix"> <a class="fancybox" href="images/portfolio20-lrg.jpg"><img class="image" src="images/portfolio20.jpg" alt="" /> </a>
                        <div class="padding-top-25 padding-bottom-10">
                            <h2>Suspendise Pharetra Uni</h2>
                            <span>Hardtop, SUV</span> </div>
                        <p>Lorem ipsum dolor sit amet, consectetue
                            adipiscing elit. Aenean commodo ligula
                            eget dolor aenean massa. Cum sociisum.</p>
                    </div>
                </div>
                <div class="col-md-3 convertible coupe sports-car mix margin-bottom-50">
                    <div class="box clearfix"> <a class="fancybox" href="images/portfolio12-lrg.jpg"><img class="image" src="images/portfolio12.jpg" alt="" /> </a>
                        <div class="padding-top-25 padding-bottom-10">
                            <h2>Ligula Urna Varius</h2>
                            <span>Convertible, Coupe, Sports Car</span> </div>
                        <p>Lorem ipsum dolor sit amet, consectetue
                            adipiscing elit. Aenean commodo ligula
                            eget dolor aenean massa. Cum sociisum.</p>
                    </div>
                </div>
                <div class="col-md-3 coupe hardtop sports-car mix margin-bottom-50">
                    <div class="box clearfix"> <a class="fancybox" href="images/portfolio11-lrg.jpg"><img class="image" src="images/portfolio11.jpg" alt="" /> </a>
                        <div class="padding-top-25 padding-bottom-10">
                            <h2>Curabitur In Tristique</h2>
                            <span>Coupe, Hardtop, Sports Car</span> </div>
                        <p>Lorem ipsum dolor sit amet, consectetue
                            adipiscing elit. Aenean commodo ligula
                            eget dolor aenean massa. Cum sociisum.</p>
                    </div>
                </div>
                <div class="col-md-3 hardtop sedan sports-car mix margin-bottom-50">
                    <div class="box clearfix"> <a class="fancybox" href="images/portfolio21-lrg.jpg"><img class="image" src="images/portfolio21.jpg" alt="" /> </a>
                        <div class="padding-top-25 padding-bottom-10">
                            <h2>Sed Ut Perspiciatis</h2>
                            <span>Hardtop, Sedan, Sports Car</span> </div>
                        <p>Lorem ipsum dolor sit amet, consectetue
                            adipiscing elit. Aenean commodo ligula
                            eget dolor aenean massa. Cum sociisum.</p>
                    </div>
                </div>
                <div class="col-md-3 convertible sports-car mix margin-bottom-50">
                    <div class="box clearfix"> <a class="fancybox" href="images/portfolio10-lrg.jpg"><img class="image" src="images/portfolio10.jpg" alt="" /></a>
                        <div class="padding-top-25 padding-bottom-10">
                            <h2>Vivamus Semper Euisi</h2>
                            <span>Convertible, Coupe</span> </div>
                        <p>Lorem ipsum dolor sit amet, consectetue
                            adipiscing elit. Aenean commodo ligula
                            eget dolor aenean massa. Cum sociisum.</p>
                    </div>
                </div>
                <div class="col-md-3 coupe suv mix margin-bottom-50">
                    <div class="box clearfix"> <a class="fancybox" href="images/portfolio22-lrg.jpg"><img class="image" src="images/portfolio22.jpg" alt="" /> </a>
                        <div class="padding-top-25 padding-bottom-10">
                            <h2>Nemo Voluptatem</h2>
                            <span>Convertible, Coupe</span> </div>
                        <p>Lorem ipsum dolor sit amet, consectetue
                            adipiscing elit. Aenean commodo ligula
                            eget dolor aenean massa. Cum sociisum.</p>
                    </div>
                </div>
                <div class="col-md-3 convertible hardtop mix margin-bottom-50">
                    <div class="box clearfix"> <a class="fancybox" href="images/portfolio23-lrg.jpg"><img class="image" src="images/portfolio23.jpg" alt="" /> </a>
                        <div class="padding-top-25 padding-bottom-10">
                            <h2>Dolore Ut Magnam</h2>
                            <span>Convertible, Coupe</span> </div>
                        <p>Lorem ipsum dolor sit amet, consectetue
                            adipiscing elit. Aenean commodo ligula
                            eget dolor aenean massa. Cum sociisum.</p>
                    </div>
                </div>
                <div class="col-md-3 hardtop sports-car mix margin-bottom-50">
                    <div class="box clearfix"> <a class="fancybox" href="images/portfolio24-lrg.jpg"><img class="image" src="images/portfolio24.jpg" alt="" /> </a>
                        <div class="padding-top-25 padding-bottom-10">
                            <h2>Aspernatur Aut Odit</h2>
                            <span>Convertible, Coupe</span> </div>
                        <p>Lorem ipsum dolor sit amet, consectetue
                            adipiscing elit. Aenean commodo ligula
                            eget dolor aenean massa. Cum sociisum.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pagiation-page">
                <ul class="pagination margin-top-20 margin-bottom-none">
                    <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--container ends-->
</section>
<!--content ends-->
