
<div class="clearfix"></div>
<section id="secondary-banner" class="dynamic-image-10"><!--for other /images just change the class name of this section block like, class="dynamic-image-2" and add css for the changed class-->
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>Portfolio: 2 Column</h2>
                <h4>Exceptional images deserve an exceptional presentation.</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li>2 Column</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--secondary-banner ends-->
<div class="message-shadow"></div>
<div class="clearfix"></div>
<section class="content">
    <div class="container">
        <div class="inner-page portfolio-container row">
            <div class="list_faq clearfix col-lg-12 margin-bottom-40">
                <h5 class="padding-vertical-10 padding-horizontal-15">Sort Portfolio By:</h5>
                <ul class="portfolioFilter padding-left-25">
                    <li class="active"><a href="#" data-filter="*" class="current filter">All</a></li>
                    <li><a href="#" class="filter" data-filter=".convertible">Convertible </a></li>
                    <li><a href="#" class="filter" data-filter=".coupe">Coupe</a></li>
                    <li><a href="#" class="filter" data-filter=".hardtop">Hardtop</a></li>
                    <li><a href="#" class="filter" data-filter=".sedan">Sedan</a></li>
                    <li><a href="#" class="filter" data-filter=".sports-car">Sports Car</a></li>
                    <li><a href="#" class="filter" data-filter=".suv">SUV</a></li>
                </ul>
            </div>
            <div class="portfolioContainer portfolio_2">
                <div class="col-md-6 col-sm-6 col-xs-12 convertible sports-car mix margin-bottom-30">
                    <div class="box clearfix"> <a class="fancybox" href="/images/portfolio1-lrg.jpg"><img class="image" src="/images/portfolio1.jpg" alt="" /></a> </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 coupe suv mix margin-bottom-30">
                    <div class="box clearfix"> <a class="fancybox" href="/images/portfolio2-lrg.jpg"><img class="image" src="/images/portfolio2.jpg" alt=""/></a> </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 convertible hardtop mix margin-bottom-30">
                    <div class="box clearfix"> <a class="fancybox" href="/images/portfolio3-lrg.jpg"><img class="image" src="/images/portfolio3.jpg" alt=""/></a> </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 coupe sedan mix margin-bottom-30">
                    <div class="box clearfix"> <a class="fancybox" href="/images/portfolio4-lrg.jpg"><img class="image" src="/images/portfolio4.jpg" alt=""/></a> </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 hardtop sports-car mix margin-bottom-30">
                    <div class="box clearfix"> <a class="fancybox" href="/images/portfolio5-lrg.jpg"><img class="image" src="/images/portfolio5.jpg" alt=""/></a> </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 sedan suv mix margin-bottom-30">
                    <div class="box clearfix"> <a class="fancybox" href="/images/portfolio6-lrg.jpg"><img class="image" src="/images/portfolio6.jpg" alt=""/></a> </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 convertible suv mix margin-bottom-30">
                    <div class="box clearfix"> <a class="fancybox" href="/images/portfolio7-lrg.jpg"><img class="image" src="/images/portfolio7.jpg" alt=""/></a> </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 coupe sports-car mix margin-bottom-30">
                    <div class="box clearfix"> <a class="fancybox" href="/images/portfolio8-lrg.jpg"><img class="image" src="/images/portfolio8.jpg" alt=""/></a> </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pagiation-page">
                <ul class="pagination margin-top-20 margin-bottom-none">
                    <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--container ends-->
</section>
<!--content ends-->

