
<section id="secondary-banner" class="dynamic-image-16"><!--for other /images just change the class name of this section block like, class="dynamic-image-2" and add css for the changed class-->
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>Portfolio: Single Project - Wide</h2>
                <h4>Exceptional images deserve an exceptional presentation.</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li> Single Project - Wide</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--secondary-banner ends-->
<div class="message-shadow"></div>
<div class="clearfix"></div>
<section class="content">
    <div class="container">
        <div class="inner-page clearfix">

            <!--OPEN OF SLIDER-->
            <div class="row">
              <div class="slider col-lg-12 padding-bottom-40">
                  <div class="flexslider flexslider2">
                      <ul class="slides item">
                          <li> <img src="/images/slider_big.jpg" alt="Portfolio Image" /> </li>
                          <li> <img src="/images/slider_big_2.jpg" alt="Portfolio Image" /> </li>
                      </ul>
                  </div>
              </div>
            </div>

            <!--CLOSE OF SLIDER-->
            <!--Slider End-->

            <div class="row padding-bottom-40">
                <div class="col-lg-8 col-md-8 col-sm-8 left-content">
                    <div class="right_site_job">
                        <div class="job margin-top-30 sm-padding-bottom-40 xs-padding-bottom-40">
                            <h2>Job Description</h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                                aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. </p>
                            <p> Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                                dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 right-content">
                    <div class="right_site_job">
                        <div class="project_details margin-top-30">
                            <h2>Project Details</h2>
                            <ul class="margin-bottom-none">
                                <li><i class="fa fa-check-circle"></i>Fully responsive and ready for all mobile devices</li>
                                <li><i class="fa fa-check-circle"></i>Integrated inventory management system is included</li>
                                <li><i class="fa fa-check-circle"></i>Simple option panel and very easy to customize</li>
                                <li><i class="fa fa-check-circle"></i>Search engine optimization (SEO) is 100% built-in</li>
                                <li><i class="fa fa-check-circle"></i>Revolution Slider is included for product marketing</li>
                                <li><i class="fa fa-check-circle"></i>Tons of shortcodes for quick and easy add-ons</li>
                                <li><i class="fa fa-check-circle"></i>Fully backed by our dedicated support team</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row margin-top-30">
                <div class="project_wrapper col-lg-12 clearfix">
                    <h4 class="related_project_head margin-bottom-10 padding-bottom-15 margin-top-none">Related Projects</h4>
                    <div class="related_post row margin-top-30 clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 scroll_effect fadeInLeft">
                            <div class="car-block margin-bottom-10"><a href="#">
                                <div class="img-flex"> <span class="align-center"><i class="fa fa-3x fa-youtube-play"></i></span> <img src="/images/related_project1.jpg" alt="" class="img-responsive"> </div>
                                <div class="car-block-bottom">
                                    <h2>Single Project 1</h2>
                                    <h4>First project description</h4>
                                </div>
                                </a> </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 scroll_effect fadeInLeft" data-wow-delay=".2s">
                            <div class="car-block margin-bottom-10"> <a href="#">
                                <div class="img-flex"><span class="align-center"><i class="fa fa-3x fa-pencil-square-o"></i></span> <img src="/images/related_project2.jpg" alt="" class="img-responsive"> </div>
                                <div class="car-block-bottom">
                                    <h2>Single Project 2</h2>
                                    <h4>Scond project description</h4>
                                </div>
                                </a> </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 scroll_effect fadeInRight" data-wow-delay=".2s">
                            <div class="car-block margin-bottom-10"><a href="#">
                                <div class="img-flex"> <span class="align-center"><i class="fa fa-3x fa-picture-o"></i></span> <img src="/images/related_project3.jpg" alt="" class="img-responsive"></div>
                                <div class="car-block-bottom">
                                    <h2>Single Project 3</h2>
                                    <h4>Third project description</h4>
                                </div>
                                </a> </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 scroll_effect fadeInRight">
                            <div class="car-block margin-bottom-10"><a href="#">
                                <div class="img-flex"> <span class="align-center"><i class="fa fa-3x fa-plus-square-o"></i></span> <img src="/images/related_project4.jpg" alt="" class="img-responsive"> </div>
                                <div class="car-block-bottom">
                                    <h2>Single Project 4</h2>
                                    <h4>Four project description</h4>
                                </div>
                                </a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--container ends-->
</section>
<!--content ends-->
