

<div class="clearfix"></div>
<section id="secondary-banner" class="dynamic-image-13"><!--for other /images just change the class name of this section block like, class="dynamic-image-2" and add css for the changed class-->
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>Pricing Tables</h2>
                <h4>Our products are guaranteed to be priced right</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>Pricing Tables</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--secondary-banner ends-->
<div class="message-shadow"></div>
<div class="clearfix"></div>
<section class="content">
    <div class="container">
        <div class="inner-page pricing-tables">
          <div class="row">
            <div class="pricing_dept col-lg-12">
                <h2 class="margin-bottom-25">Choose the pricing option that best suits your business</h2>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin condimentum felis ut ultrices congue. Quisque in lacus condimentum, fringilla nisi
                    commodo, faucibus velit. Integer fermentum mauris adipiscing faucibus tristique. Praesent iaculis sed tellus quis porta. Nulla porta tincidunt libero. Ut nec purus ut lectus convallis
                    pellentesque ac non enim. Etiam suscipit eleifend tincidunt. Praesent volutpat, tortor ac molestie imperdiet, nisi quam imperdiet elit, id dapibus lacus felis sed massa. Cras ultrices
                    enim in sagittis posuere. Vestibulum ac ipsum vitae lectus pretium vestibulum ac rutrum felis. Donec consequat lacus eu mi porta ornare. Duis eget velit ac felis sollicitudin sagittis.</p>
            </div>
          </div>
            <div class="pricing_wrapper row layout-3 padding-bottom-40 clearfix">
              <div class="col-lg-12">
                  <h3 class="margin-top-20 margin-bottom-30">3 Column Pricing Layout</h3>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="pricing_table">
                        <div class="pricing-header padding-vertical-10">
                            <h4>Standard</h4>
                        </div>
                        <div class="main_pricing">
                            <div class="inside"> <span class="super">$</span> <span class="amt annual">299</span> <span class="sub1">99</span> <span class="slash"><img src="/images/slash.png" alt=""></span> <span class="sub">mo.</span> </div>
                        </div>
                        <div class="category_pricing">
                            <ul>
                                <li>Manual Transmission</li>
                                <li>4 Cylinder Engine</li>
                                <li>60 MPG</li>
                                <li>6 Seats</li>
                                <li>3 Year Warranty</li>
                            </ul>
                        </div>
                        <div class="price-footer padding-top-20 padding-bottom-15">
                            <form method="post" action="#">
                                <input type="submit" value="Order Now" class="lg-button">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="pricing_table">
                        <div class="pricing-header padding-vertical-10">
                            <h4>Professional</h4>
                        </div>
                        <div class="main_pricing">
                            <div class="inside"> <span class="super">$</span> <span class="amt annual">399</span> <span class="sub1">99</span> <span class="slash"><img src="/images/slash.png" alt=""></span> <span class="sub">mo.</span> </div>
                        </div>
                        <div class="category_pricing">
                            <ul>
                                <li>Manual Transmission</li>
                                <li>6 Cylinder Engine</li>
                                <li>45 MPG</li>
                                <li>5 Seats</li>
                                <li>4 Year Warranty</li>
                            </ul>
                        </div>
                        <div class="price-footer padding-top-20 padding-bottom-15">
                            <form method="post" action="#">
                                <input type="submit" value="Order Now" class="lg-button">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="pricing_table">
                        <div class="pricing-header padding-vertical-10">
                            <h4>Premium</h4>
                        </div>
                        <div class="main_pricing">
                            <div class="inside"> <span class="super">$</span> <span class="amt annual">499</span> <span class="sub1">99</span> <span class="slash"><img src="/images/slash.png" alt=""></span> <span class="sub">mo.</span> </div>
                        </div>
                        <div class="category_pricing">
                            <ul>
                                <li>Automatic Transmission</li>
                                <li>8 Cylinder Engine</li>
                                <li>30 MPG</li>
                                <li>4 Seats</li>
                                <li>5 Year Warranty</li>
                            </ul>
                        </div>
                        <div class="price-footer padding-top-20 padding-bottom-15">
                            <form method="post" action="#">
                                <input type="submit" value="Order Now" class="lg-button">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="pricing_wrapper row layout-4 clearfix">
                <div class="col-lg-12">
                  <h3 class="margin-bottom-30 margin-top-30">4 Column Pricing Layout</h3>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 padding-right-5 padding-left-5">
                    <div class="pricing_table">
                        <div class="pricing-header">
                            <h4>Standard</h4>
                        </div>
                        <div class="main_pricing">
                            <div class="inside"> <span class="super">$</span> <span class="amt annual">299</span> <span class="sub1">99</span> <span class="slash"><img src="/images/small-slash.png" alt=""></span> <span class="sub">mo.</span> </div>
                        </div>
                        <div class="category_pricing">
                            <ul>
                                <li>Manual Transmission</li>
                                <li>4 Cylinder Engine</li>
                                <li>60 MPG</li>
                                <li>6 Seats</li>
                                <li>3 Year Warranty</li>
                            </ul>
                        </div>
                        <div class="price-footer padding-vertical-15">
                            <form method="post" action="#">
                                <input type="submit" value="Order Now" class="lg-button">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="pricing_table">
                        <div class="pricing-header">
                            <h4>Professional</h4>
                        </div>
                        <div class="main_pricing">
                            <div class="inside"> <span class="super">$</span> <span class="amt annual">399</span> <span class="sub1">99</span> <span class="slash"><img src="/images/small-slash.png" alt=""></span> <span class="sub">mo.</span> </div>
                        </div>
                        <div class="category_pricing">
                            <ul>
                                <li>Manual Transmission</li>
                                <li>6 Cylinder Engine</li>
                                <li>45 MPG</li>
                                <li>5 Seats</li>
                                <li>4 Year Warranty</li>
                            </ul>
                        </div>
                        <div class="price-footer padding-vertical-15">
                            <form method="post" action="#">
                                <input type="submit" value="Order Now" class="lg-button">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="pricing_table">
                        <div class="pricing-header">
                            <h4>Premium</h4>
                        </div>
                        <div class="main_pricing">
                            <div class="inside"> <span class="super">$</span> <span class="amt annual">499</span> <span class="sub1">99</span> <span class="slash"><img src="/images/small-slash.png" alt=""></span> <span class="sub">mo.</span> </div>
                        </div>
                        <div class="category_pricing">
                            <ul>
                                <li>Automatic Transmission</li>
                                <li>8 Cylinder Engine</li>
                                <li>30 MPG</li>
                                <li>4 Seats</li>
                                <li>5 Year Warranty</li>
                            </ul>
                        </div>
                        <div class="price-footer padding-vertical-15">
                            <form method="post" action="#">
                                <input type="submit" value="Order Now" class="lg-button">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="pricing_table">
                        <div class="pricing-header">
                            <h4>Platinum</h4>
                        </div>
                        <div class="main_pricing">
                            <div class="inside"> <span class="super">$</span> <span class="amt annual">599</span> <span class="sub1">99</span> <span class="slash"><img src="/images/small-slash.png" alt=""></span> <span class="sub">mo.</span> </div>
                        </div>
                        <div class="category_pricing">
                            <ul>
                                <li>Automatic Transmission</li>
                                <li>12 Cylinder Engine</li>
                                <li>15 MPG</li>
                                <li>2 Seats</li>
                                <li>7 Year Warranty</li>
                            </ul>
                        </div>
                        <div class="price-footer padding-vertical-15">
                            <form method="post" action="#">
                                <input type="submit" value="Order Now" class="lg-button">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--container ends-->
    </div>
</section>
<!--content ends-->
<div class="clearfix"></div>

