@model FSMotorsShowroom.Models.Investor

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}


<div class="card">
    <div class="card-header">
        <h3 class="text-uppercase">New Investor</h3>
    </div>

    <div class="card-body">
        <form asp-action="Create">

            <div class="row">
                <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InvestorName" class="control-label"></label>
                <input asp-for="InvestorName" class="form-control" />
                <span asp-validation-for="InvestorName" class="text-danger"></span>
            </div>
                </div>

           
                <div class="col-md-6">
            <div class="form-group">
                <label asp-for="InvestorEmail" class="control-label"></label>
                <input asp-for="InvestorEmail" class="form-control" />
                <span asp-validation-for="InvestorEmail" class="text-danger"></span>
            </div>
            </div>
            </div>

                <div class="row">
                    <div class="col-md-6">
            <div class="form-group">
                <label asp-for="InvestorContact" class="control-label"></label>
                <input asp-for="InvestorContact" class="form-control" />
                <span asp-validation-for="InvestorContact" class="text-danger"></span>
            </div>
                    </div>
                    <div class="col-md-6">
            <div class="form-group">
                <label asp-for="InvestorAddress" class="control-label"></label>
                <input asp-for="InvestorAddress" class="form-control" />
                <span asp-validation-for="InvestorAddress" class="text-danger"></span>
            </div>
                    </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="InvestUnallocatedAmount" class="control-label"></label>
                        <input asp-for="InvestUnallocatedAmount" disabled class="form-control" />
                        <span asp-validation-for="InvestUnallocatedAmount" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TotalInvestAmount" class="control-label"></label>
                        <input asp-for="TotalInvestAmount" class="form-control" />
                        <span asp-validation-for="TotalInvestAmount" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


