@model FSMotorsShowroom.Models.WorkShop

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="text-uppercase">Add WorkShop</h3>
    </div>

    <div class="card-body">
        <form asp-action="Create">

            <div class="row">
                <div class="col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="WorkShopName" class="control-label"></label>
                        <input asp-for="WorkShopName" class="form-control" />
                        <span asp-validation-for="WorkShopName" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="WorkshopLocation" class="control-label"></label>
                        <input asp-for="WorkshopLocation" class="form-control" />
                        <span asp-validation-for="WorkshopLocation" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

